/*
*********************   Spacing System (px) *******************
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*********************   Font Size System (px) *******************
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* @import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"),
    url("../fonts/CalSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
} */

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600,700&display=swap); */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
}

body {
  line-height: 119%;
  font-weight: 400;
  color: #1b1818;
  font-size: 1.6rem;
  font-family: "Roboto Condensed", sans-serif;
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Inter', sans-serif;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="container"] {
  max-width: 123rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  /* box-sizing: content-box; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.page {
  flex: 1 1 auto;
}

/*             Header             */

.header {
  background: #332208;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10rem;
}

.menu__list {
  display: flex;
  gap: 3rem;
}

.menu__link:hover,
.phone:hover {
  border-bottom: 1px solid #fefefe;
}

.menu__link,
.phone {
  color: #fefefe;
  line-height: 116%;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease;
}

/*             Top             */

.top {
  background: #fefefe;
}

.top__heading {
  display: flex;
  padding: 6.3rem 0 3rem;
}

.heading-top__left {
  text-align: center;
  width: 50%;
  padding-top: 7.5rem;
}

.heading-top__right {
  width: 50%;
}

.heading-top__title:not(:last-child) {
  margin: 0 auto 2rem;
}

.heading-top__title {
  font-family: Fira Sans;
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 121%;
  max-width: 45.5rem;
}

.heading-top__text:not(:last-child) {
  margin: 0 auto 5rem;
}

.heading-top__text {
  font-size: 2.4rem;
  line-height: 117%;
  max-width: 54rem;
  color: #181818;
}

.download:hover {
  color: #c5ac2d;
  background: #fefefe;
  border: 1px solid #c5ac2d;
}

.download {
  cursor: pointer;
  text-transform: uppercase;
  color: #fefefe;
  background: #c5ac2d;
  border: 1px solid transparent;
  padding: 1.6rem 1.9rem 1.5rem 1.8rem;
  transition: all 0.7s ease;
}

.heading-top__txt {
  font-family: "Fira Sans";
  font-weight: 500;
  text-align: center;
  color: #181818;
}

.bottom-top__text {
  text-align: center;
  /* фирменный */
  color: #332208;
}

.bottom-top__left {
  display: flex;
  align-items: center;
}

.bottom-top__link:hover {
  text-decoration: underline;
}

.bottom-top__link {
  text-align: center;
  color: #181818;
  cursor: pointer;
}

.top__bottom {
  display: flex;
}

/*             How             */
