/*
*********************   Spacing System (px) *******************
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*********************   Font Size System (px) *******************
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* @import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"),
    url("../fonts/CalSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
} */

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600,700&display=swap); */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
}

body {
  line-height: 119%;
  font-weight: 400;
  color: #181818;
  font-size: 1.6rem;
  font-family: "Roboto Condensed", sans-serif;
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Inter', sans-serif;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="container"] {
  max-width: 123rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  /* box-sizing: content-box; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.page {
  flex: 1 1 auto;
}

/*             Header             */

.header {
  background: #332208;
  z-index: 8;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10rem;
}

.menu__list {
  display: flex;
  gap: 3rem;
}

.menu__btn {
  display: none;
  z-index: 8;
}

.menu__link:hover,
.phone:hover {
  border-bottom: 1px solid #fefefe;
}

.menu__link,
.phone {
  color: #fefefe;
  line-height: 116%;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease;
}

/*             Top             */

.top {
  background: #fefefe;
  padding-bottom: 10.5rem;
}

.top__heading {
  display: flex;
  padding: 6.3rem 0 2.3rem;
}

.heading-top__left {
  text-align: center;
  width: 50%;
  padding-top: 7.5rem;
}

.heading-top__right {
  width: 50%;
}

.heading-top__title:not(:last-child) {
  margin: 0 auto 2rem;
}

.heading-top__title {
  font-family: Fira Sans;
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 121%;
  max-width: 45.5rem;
}

.heading-top__text:not(:last-child) {
  margin: 0 auto 5rem;
}

.heading-top__text {
  font-size: 2.4rem;
  line-height: 117%;
  max-width: 54rem;
  text-align: center;
}

.download:hover {
  color: #c5ac2d;
  background: #fefefe;
  border: 1px solid #c5ac2d;
}

.download {
  cursor: pointer;
  text-transform: uppercase;
  color: #fefefe;
  background: #c5ac2d;
  border: 1px solid transparent;
  padding: 1.6rem 1.9rem 1.5rem 1.8rem;
  transition: all 0.5s ease;
  width: 21.1rem;
  display: inline-block;
}

.heading-top__txt2 span + span {
  padding-left: 1.3rem;
}

.heading-top__txt2 {
  font-family: "Fira Sans";
  font-weight: 500;
  text-align: right;
  line-height: 119%;
  padding-right: 12rem;
}

.bottom-top__text {
  text-align: center;
  /* фирменный */
  color: #332208;
}

.bottom-top__left {
  display: flex;
  align-items: center;
}

/* .bottom-top__link:hover {
  text-decoration: underline;
} */

.bottom-top__link {
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #181818;
}

.top__bottom {
  display: flex;
}

.swiper-pagination-bullets {
  position: absolute;
  top: 0;
  transform: translate(48%, 41%);
}

.swiper-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.swiper-pagination-bullet-active.swiper-pagination-bullet {
  width: 1.6rem;
  height: 1.6rem;
}

.swiper-pagination-bullet {
  border-radius: 50%;
  background: #332208;
  width: 0.8rem;
  height: 0.8rem;
  opacity: 1;
}

/*             Bottom            */

.top__bottom {
  display: flex;
  align-items: flex-end;
}

.bottom-top__left,
.bottom-top__right {
  width: 50%;
}

.bottom-top__right {
  text-align: center;
}

.bottom-top__left {
  display: flex;
  justify-content: space-around;
}

.bottom-top__item:hover {
  transform: scale(1.25);
}

.bottom-top__item {
  transition: all 0.7s ease;
  width: 15rem;
  height: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #332208;
  padding: 1rem;
}

.bottom-top__img-1 {
  margin-bottom: 1.6rem;
}

.bottom-top__img-2 {
  margin-bottom: 2.2rem;
}

.bottom-top__img-3 {
  margin-bottom: 1rem;
}

.bottom-top__text {
  max-width: 12.9rem;
}

.bottom-top__link:not(:last-child) {
  margin-right: 2rem;
}

/*   Rent   */

.rent {
  padding: 10rem 0;
  background: #fefefe;
}

.rent__inner {
  display: flex;
  justify-content: space-between;
}

.rent__heading {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
}

.rent__link {
  text-align: center;
  margin-top: auto;
}

.heading-top__title_h2:not(:last-child) {
  margin: 0 0 2rem 0;
}

.heading-top__title_h2 {
  font-size: 24px;
  line-height: 121%;
  max-width: 19rem;
}

.heading-top__text-rent {
  margin-bottom: 2rem;
}

.heading-top__text-rent + .heading-top__text-rent {
  margin-bottom: 6rem;
}

.heading-top__text-rent {
  line-height: 119%;
  font-weight: 400;
  color: #181818;
  text-align: left;
  font-size: 1.6rem;
}

.rent__number_1:not(:last-child) {
  margin-bottom: 2.9rem;
}

.rent__number_2:not(:last-child) {
  margin-bottom: 3.6rem;
}

.rent__number_3:not(:last-child) {
  margin-bottom: 3rem;
}

.rent__number {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 9.6rem;
  line-height: 120%;
  text-align: center;
  color: #181818;
  opacity: 0.05;
}

.rent__title:not(:last-child) {
  margin-bottom: 3.5rem;
}

.rent__title_2:not(:last-child) {
  margin-bottom: 3.9rem;
}

.rent__title {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 117%;
  color: #181818;
}

.rent__right-item {
  max-width: 25rem;
  text-align: center;
  border: 1px solid #332208;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.rent__text {
  padding: 0 2px 1rem;
}

.rent__text_1 {
  max-width: 17rem;
}

.rent__text_2 {
  max-width: 19rem;
}

.rent__text_3 {
  max-width: 18rem;
}

/*   Advantages   */

.advantages {
  padding: 8.4rem 0 11.6rem;
  background: #fefefe;
}

.advantages__h3:not(:last-child) {
  margin-bottom: 7rem;
}

.advantages__h3 {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 121%;
}

.advantages__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.advantages__list {
  max-width: 25.8rem;
}

.advantages__content {
  max-width: 30rem;
}

.advantages__list-item::after {
  position: absolute;
  content: "";
  background-color: #332208;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  right: 0;
  top: 0.2rem;
}

.advantages__list-item {
  position: relative;
  color: #000;
  padding-right: 2.6rem;
}

.advantages__list-item:not(:last-child) {
  margin-bottom: 2.7rem;
}

.advantages__list-item:nth-child(1),
.advantages__list-item:nth-child(7) {
  margin-right: 1rem;
}

.advantages__list-item:nth-child(2),
.advantages__list-item:nth-child(6) {
  margin-right: 4.5rem;
}

.advantages__list-item:nth-child(3),
.advantages__list-item:nth-child(5) {
  margin-right: 7.9rem;
}

.advantages__list-item:nth-child(4) {
  margin-right: 12rem;
}

.advantages__text:not(:last-child) {
  margin-bottom: 3rem;
}

.advantages__text {
  text-align: right;
}

.advantages__text + .advantages__text {
  width: 26.7rem;
  margin-left: auto;
}

.advantages__video {
  position: relative;
  text-transform: uppercase;
  color: #fefefe;
  background: #c5ac2d;
  padding: 0.6rem 3.3rem 0.6rem 6.4rem;
  text-align: center;
  display: inline-block;
  transition: all 0.5s ease;
}

.advantages__video::before {
  position: absolute;
  content: "";
  background-image: url("../img/adv-btn.svg");
  width: 2.5rem;
  height: 2.5rem;
  top: 1.2rem;
  left: 3.4rem;
}

/*             Reviews           */

.reviews {
  background: #332208;
  color: #fff;
  padding: 10rem;
}

.mySwiper .swiper-slide {
  /* max-width: 27rem; */
  min-height: 25rem;
  border: 1px solid #c5ca2d;
  padding: 4.4rem 2rem;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  color: #fefefe;
  font-size: 2.4rem;
  line-height: 121%;
  text-align: center;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
}

.reviews__text {
  color: #fefefe;
  text-align: center;
  margin-top: auto;
}

.swiper-pagination.swiper-reviews {
  flex-direction: initial;
}

.swiper-reviews.swiper-pagination-bullets {
  justify-content: center;
  position: relative;
  top: 0;
  transform: translate(0%, 0%);
  padding-top: 3.2rem;
}

.swiper-reviews .swiper-pagination-bullet {
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  opacity: 1;
  background: #c5ac2d;
}

.swiper-pagination-bullet-active.swiper-pagination-bullet {
  width: 1.6rem;
  height: 1.6rem;
}

/*   QST    */

.qst {
  padding: 10rem 0;
}

.qst__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qst__h3:not(:last-child) {
  margin-bottom: 0.5rem;
}

.qst__text:not(:last-child) {
  margin-bottom: 3rem;
}

.qst__form:not(:last-child) {
  margin-bottom: 6.5rem;
}

.qst__btn {
  line-height: 119%;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Roboto Condensed", sans-serif;
}

.qst__inp-name:not(:last-child) {
  margin-bottom: 2rem;
}

.qst__inp-name::placeholder,
.qst__inp-tel::placeholder {
  line-height: 119%;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
}

.qst__inp-name,
.qst__inp-tel {
  padding: 2rem 1rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

/*   Footer   */

.footer {
  background: #332208;
  padding: 7.5rem 0 2rem;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__top:not(:last-child) {
  margin-bottom: 2rem;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/*    @Media   */

/*1307px/16 */
@media (max-width: 81.6875em) {
  .reviews {
    padding: 10rem 1rem;
  }
}

@media (max-width: 76.25em) {
  .top__heading {
    display: block;
    padding-bottom: 5rem;
  }

  .heading-top__right {
    width: 100%;
  }

  .heading-top__left {
    width: 100%;
    padding: 0;
  }

  .top__bottom {
    display: block;
  }

  .bottom-top__left {
    width: 100%;
    margin-bottom: 10rem;
  }

  .bottom-top__right {
    width: 100%;
  }
}

@media (max-width: 73.75em) {
  .advantages__content {
    max-width: 100%;
  }

  .advantages__items {
    flex-wrap: wrap;
  }

  .advantages__img {
    width: 60%;
  }

  .advantages__list {
    margin-bottom: 3rem;
  }
}

/* 1126px/16 */
@media (max-width: 70.375em) {
  .advantages {
    padding: 8.4rem 0 5rem;
  }
}

@media (max-width: 62.5em) {
  .rent {
    padding: 0;
  }

  .rent__heading,
  .rent__right-item,
  .heading-top__text-rent,
  .rent__text_1,
  .rent__text_2,
  .rent__text_3 {
    margin-bottom: 3rem;
    max-width: 100%;
    text-align: center;
    display: block;
  }

  .rent__link {
    margin-bottom: 3rem;
  }

  .heading-top__title_h2 {
    max-width: 100%;
  }

  .rent__heading {
    max-width: 100%;
    margin-bottom: 5rem;
  }

  .bottom-top__link {
    margin-bottom: 8rem;
  }

  .rent__inner {
    display: block;
  }
}

@media (max-width: 53.75em) {
  .menu__list {
    position: absolute;
    display: block;
    background-color: #332208;
    left: 0;
    right: 0;
    top: 10rem;
    text-align: center;
    height: 100vh;
    transform: translateY(-50rem);
    transition: all 0.5s ease;
  }

  .menu__list.menu__list_active {
    transform: translateY(0);
  }

  .menu__link {
    padding: 2rem 0;
    display: block;
  }

  .menu__btn::before {
    position: absolute;
    content: "";
    height: 0.2rem;
    width: 3rem;
    background-color: #fefefe;
    left: 0;
    top: 1.2rem;
  }

  .menu__btn {
    position: relative;
    display: block;
    width: 3rem;
    height: 3rem;
    border: none;
    cursor: pointer;
    border-top: 0.2rem solid #fefefe;
    border-bottom: 0.2rem solid #fefefe;
    background-color: transparent;
  }

  .menu {
    order: 1;
  }

  .advantages__img {
    width: 80%;
  }
}

/* 630px/16px */
@media (max-width: 39.375em) {
  .bottom-top__left {
    flex-direction: column;
    gap: 3rem;
  }

  .bottom-top__link:not(:last-child) {
    margin-bottom: 3rem;
  }

  .bottom-top__link {
    display: block;
    width: 100%;
  }

  .top {
    padding-bottom: 0;
  }

  .bottom-top__item {
    width: 75%;
  }
}

@media (max-width: 35.375em) {
  .advantages {
    padding: 8.4rem 0 4.6rem;
  }

  .advantages__img {
    width: 100%;
  }

  .advantages__h3:not(:last-child) {
    margin-bottom: 4rem;
  }

  .advantages__list-item::after {
    left: 0;
  }

  .advantages__items {
    text-align: left;
  }

  .advantages__list-item {
    padding-right: 0;
    padding-left: 2.6rem;
  }

  .pagination.swiper-pagination-bullets {
    margin: 20px 0 0 -120px;
  }
}
